@model SubastaDetalle
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <link rel="stylesheet" type="text/css" href="~/css/OfertaStyles.css"/>
</header>

<hr />
<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header">
                <h3><strong>Detalles del  producto: @Model.detalleProducto.NombreProducto</strong></h3>
            </div>
        </div>
        <br />
        <div id="img-producto">
            <img src="@Model.detalleProducto.ImagenProducto"/>
        </div>
        <br />
        <div class="card-body">
            <ul>
                <li class="list-group-item"><strong>Nombre del producto: </strong>@Html.DisplayFor(m => m.detalleProducto.NombreProducto)</li>
                <li class="list-group-item"><strong>Marca del producto: </strong>@Html.DisplayFor(m => m.detalleProducto.MarcaProducto)</li>
                <li class="list-group-item"><strong>Descripción: </strong>@Html.DisplayFor(m => m.detalleProducto.DescripcionProducto)</li>
                <li class="list-group-item"><strong>Forma de pago: </strong>@Html.DisplayFor(m => m.detalleProducto.FormaPago)</li>
                <li class="list-group-item"><strong>Monto inicial: </strong>@Html.DisplayFor(m => m.detalleProducto.MontoInicial)</li>
                <li class="list-group-item"><strong>Última oferta: </strong>@Html.DisplayFor(m => m.ofertaRealizada)</li>
            </ul>
        </div>
      

        <form asp-controller="Subasta" asp-action="Oferta" method="post">
            @Html.HiddenFor(m => m.detalleProducto.IdSubasta)
            @Html.HiddenFor(m => m.detalleProducto.IdSubastaProducto)

            <div class="form-group row">
                <label asp-for="ofertaRealizada" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input type="number" min="@Model.detalleProducto.MontoInicial" value="@(Model.ofertaRealizada+1)"  asp-for="ofertaRealizada" class="form-control" />
                    <span asp-validation-for="ofertaRealizada" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary"><i class="fas fa-user">  Enviar oferta</i></button>
            </div>
        </form>

    </div>
</div>
<div>
    @*@Html.ActionLink("Volver", null, null, null, new { href = Request.UrlReferrer });*@
</div>