
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model TPISubastas.Sitio.Security.SecurityLogin
@*<form method="post" action="/Account/Login">
        <table>
            <tr>
                <td><label for="Usuario">Usuario</label></td>
                <td><input name="Usuarioa" type="text" /></td>

            </tr>
            <tr>
                <td><label for="Contraseña">Contraseña</label></td>
                <td><input name="Contraseña" type="password" /></td>
            </tr>
            <tr><td colspan="2"><button type="submit">Ingresar</button></td></tr>
        </table>
    </form>*@
<head>
    <link rel="stylesheet" type="text/css" href="~/css/Login-styles.css" />
</head>

<br />
<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header">
                <h3><strong>Login</strong></h3>
            </div>
        </div>
        <hr />
        <div class="card-body">
            
            @using(Html.BeginForm()){
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" class="form-control" />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary"><i class="fas fa-user">  Ingresar</i></button>
                <br />
                <a class="btn btn-secondary" asp-action="Register">Registrarse</a>
            </div>

            }



            @* <form asp-controller="Account" asp-action="Login" method="post">

                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Usuario" class="control-label"></label>
                        <input asp-for="Usuario" class="form-control" />
                        <span asp-validation-for="Usuario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contraseña" class="control-label"></label>
                        <input asp-for="Contraseña" class="form-control" />
                        <span asp-validation-for="Contraseña" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary"><i class="fas fa-user">  Ingresar</i></button>
                        <br />
                        <a class="btn btn-secondary" asp-action="Register">Registrarse</a>
                    </div>






                </form>
            *@
        </div>
    </div>
</div>



@*sing (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary();


        <table>
            <tr>
                <td>@Html.LabelFor(m => m.Usuario)</td>
                <td>@Html.TextBoxFor(m => m.Usuario)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Contraseña)</td>
                <td>@Html.PasswordFor(m => m.Contraseña)</td>
            </tr>
            <tr><td colspan="2"><button type="submit">Ingresar</button></td></tr>
            <tr><td colspan="2"><a href="/Account/Register">Registrarse</a></td></tr>
        </table>

    }
*@

